<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">

	<!-- Style Bundle -->
	<styleBundle path="~/Content/css">
		<include path="~/Content/style/styles.css" />
	</styleBundle>

	<!-- Script Bundle -->
	<scriptBundle path="~/Scripts/js">
		<include path="~/Scripts/js/script.js" />
		<include path="~/Scripts/js/dashboard.js" />
		<!-- Optional if needed -->
	</scriptBundle>

</bundles>
